/* ************************ Button Css ***************************** */
.button_style {
    padding: 14px 35px;
  border: 1px solid transparent;
  outline: none;
  border-radius: 5px;
  font-size: 1.01rem;
  font-weight: bold;
  cursor: pointer;
  background: #fe8c00; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f83600,
    #fe8c00
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f83600,
    #fe8c00
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFFFFF;
}

.button_style:hover{
    background: #fe8c00; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to left,
      #f83600,
      #fe8c00
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to left,
      #f83600,
      #fe8c00
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFFFFF;
}
